.container {
  font-family: sans-serif;
}
.application {
  border: 1px solid rgb(78, 3, 81);
  display: block;
  border-radius: 14px;
  padding: 5px;
  margin: 20px;
  max-width: 600px;
}
h1 {
  display: block;
  font-size: 45px;
  color: rgb(105, 97, 97);
  margin-left: 15px;
  margin-bottom: 0px;
  padding: 0;
  line-height: 50px;
}
ul {
  margin: 0px;
  width: 100%;
  padding: 0;
}
li {
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.temp {
  font-size: 40px;
  font-weight: 500;
}

.city {
  margin-bottom: 0px;
  text-transform: capitalize;
}
.day {
  font-size: 25px;
  margin-left: 15px;
  margin-top: 0;
  text-transform: capitalize;
}
.weather-description {
  margin-left: 15px;
  text-transform: capitalize;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.col-6 {
  display: block;
}
img {
  max-width: 50%;
  display: block;
  float: right;
  margin-top: 10x;
}
.search {
  display: block;
  margin-top: 15px;
  position: relative;
  width: 100%;
  margin-left: 15px;
  margin-bottom: 10px;
}
.form-control {
  max-width: 45%;
}
.footer {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 12px;
}
.weather-forecast {
  margin-top: 10px;
  margin-left: 5px;
  display: block;
  text-align: center;
  font-size: 13px;
  color: #000;
}
.weather-forecast img {
  max-width: 100%;
}
.forecast-day {
  opacity: 0.7;
}
.forecast-temp-min {
  opacity: 0.7;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
.weather-icon {
  display: block;
  margin-right: -15px;
  max-width: 36%;
  margin-top: -10px;
}
.units {
  display: block;
  font-size: 12px;
  margin-top: -50px;
  margin-left: 50px;
  max-width: 35%;
}
